In [1]:
#Reading seq2seq scores data
import pandas as pd

df = pd.read_csv('att_no.csv')
df.head()

   Unnamed: 0  ...                                            rouge_l
0           0  ...                     {'f': 0.0, 'p': 0.0, 'r': 0.0}
1           1  ...  {'f': 0.1249999950000002, 'p': 0.125, 'r': 0.125}
2           2  ...  {'f': 0.24999999507812506, 'p': 0.285714285714...
3           3  ...                     {'f': 0.0, 'p': 0.0, 'r': 0.0}
4           4  ...  {'f': 0.1999999952000001, 'p': 0.25, 'r': 0.16...

[5 rows x 8 columns]

In [2]:
df.shape

(1000, 8)

In [3]:
df['long'][3]

"the supreme court restored possession of 2 412 square yards land in bandra mumbai to actor dilip kumar and directed him to pay â\x82¹20 crore to a real estate firm the firm had entered into an agreement with him in 2006 to develop the property but no construction took place the firm's appeal for the enforcement was dismissed by sc "

In [4]:
# Splitting for bleu scores 
a=[]
for c in df['long']:
  a.append(len(c.split()))

In [5]:
# For Word Count - Bleu Score
import numpy as np

bleu_tester = pd.DataFrame()

bleu_tester['Bleu Score'] = df['bleu']
bleu_tester['Word Count'] = a
bleu_tester

     Bleu Score  Word Count
0      0.000000          55
1      0.594604          60
2      0.668740          60
3      0.000000          60
4      0.292523          55
..          ...         ...
995    0.577350          59
996    0.000000          51
997    0.463078          59
998    0.686589          59
999    0.000000          60

[1000 rows x 2 columns]

In [16]:
!pip install rouge
#Calculate the Average of Full Data scores
from rouge import Rouge

rouge = Rouge()
scores = rouge.get_scores(df['prediction'], df['original'], avg=True)
scores

Requirement already satisfied: rouge in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from rouge) (1.15.0)

{'rouge-1': {'f': 0.1348101378232965,
  'p': 0.13848816948673673,
  'r': 0.1354690434871364},
 'rouge-2': {'f': 0.02197219407270013,
  'p': 0.02297757423735683,
  'r': 0.022033816591904815},
 'rouge-l': {'f': 0.1331690488393528,
  'p': 0.1462474303474306,
  'r': 0.1263056672795807}}

In [19]:
# Read the stats files
import pandas as pd

seq = pd.read_csv('seq2seq_eng_att_stats.csv')
seq_scores = rouge.get_scores(seq['prediction'][:1000], seq['original'][:1000], avg=True)
seq_scores

{'rouge-1': {'f': 0.2144112665108315,
  'p': 0.22559180808423016,
  'r': 0.20962362445513294},
 'rouge-2': {'f': 0.051737031499641525,
  'p': 0.05518741901373486,
  'r': 0.050096807636807725},
 'rouge-l': {'f': 0.2081461130179538,
  'p': 0.2345889749139749,
  'r': 0.19329518152772762}}

In [21]:
# Average of bleu score for seq2seq without Attention Layer
df.describe()

        Unnamed: 0         bleu
count  1000.000000  1000.000000
mean    499.500000     0.374091
std     288.819436     0.252660
min       0.000000     0.000000
25%     249.750000     0.000000
50%     499.500000     0.463078
75%     749.250000     0.562341
max     999.000000     0.816497

In [23]:
# Average of bleu score for seq2seq with Attention Layer
seq[:1000].describe()

        Unnamed: 0         bleu
count  1000.000000  1000.000000
mean    499.500000     0.430748
std     288.819436     0.216471
min       0.000000     0.000000
25%     249.750000     0.338654
50%     499.500000     0.463078
75%     749.250000     0.577350
max     999.000000     0.816497